/*general styles*/
:root {
    --font: "Rubik", sans-serif;
    --font-color: hsl(220, 100%, 5%);
    --bg-color: hsl(200, 70%, 60%);
    --title-shadow: 0.1rem 0.1rem 0.5rem hsl(200, 15%, 55%);
    font-family: var(--font);
    color: var(--font-color);
}

.paragraph {
    --font: "Inter", sans-serif;
}

body {
    padding: 1.5vw 1.5vw 0 1.5vw;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--font-color);
    text-transform: uppercase;
    font-size: 0.8rem;
}

a:hover {
    color: white;
    text-shadow: 0.1rem 0.1rem 0.3rem hsl(200, 50%, 40%);
}

/*navigation header style*/
nav {
    min-width: 300px;
    background-color: var(--bg-color);
    margin: 0 auto 2rem;
}

nav ul {
    display: flex;
    padding: 0.5rem 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    list-style: none;
    flex-grow: 1;
}

nav ul li:nth-child(2) {
    border-left: 2px solid var(--font-color);
    border-right: 2px solid var(--font-color);
    margin: 0 -2px 0 -2px;
}

/*main article style*/

main article {
    margin-bottom: 2rem;
}

main article h1 {
    text-shadow: var(--title-shadow);
    font-size: 1.4rem;
}

main article p {
    font-family: var(--font);
    font-size: 0.8rem;
}

main article hr {
    border-style: none;
}

/*section style*/

main section {
    margin-bottom: 2rem;
}

main section:nth-child(2) {
    border-bottom: 2px solid black;
    border-image: linear-gradient(90deg, black 0%, white 50%, black 100%) 1;
    padding-bottom: 0.8rem;
}

main section h2 {
    text-shadow: var(--title-shadow);
    font-size: 1.2rem;
}

/*photo's section style*/

main section div figure {
    margin: 0 0 0.1rem 0;
    position: relative;
}

main section div figure img {
    width: 100%;
}

.imgOpacity {
    filter: opacity(50%);
}

main section div figure figcaption {
    font-size: 2.5vw;
    position: absolute;
    bottom: 10px;
    left: 50%;
    translate: -50%;
    text-align: center;
    background-color: white;
    padding: 0.2rem 0.5rem;
}

/*block section style*/

.leftRightBox {
    display: flex;
    gap: 1.5vw;
}

.leftBoxRow {
    width: 50%;
    display: flex;
    flex-flow: column;
    gap: 1.5vw;
}

.rightBoxRow {
    width: 50%;
    display: flex;
    flex-flow: column;
    gap: 1.5vw;
}

.outerBox {
    background-color: var(--bg-color);
    width: 100%;
    height: 47.75vw; /*calc 50vw - (3vw body padding + 1.5 main div gap) : 2 rows*/
    box-sizing: border-box;
    display: flex;
    border: 2px solid black;
    border-radius: 25%;
}

.innerBox {
    background-color: white;
    width: 75%;
    height: 75%;
    margin: auto;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
}

.innerBox > div {
    margin: auto;
    font-family: "Jaini", sans-serif;
    font-size: 15vw;
}

/*media query time*/
/*768px*/

@media (min-width: 768px) {

    /*general styles*/

    main section h2 {
        font-size: 1.6rem;
    }

    /*main article style @media*/

    main article {
        column-count: 3;
        column-rule: 2px solid var(--bg-color);
    }

    main article h1 {
        column-span: all;
        font-size: 1.8rem;
    }

    main article p {
        margin: 0;
        font-size: 1rem;
    }

    /*photo's section style @media*/

    .figureBox {
        display: flex;
        flex-wrap: wrap;
        column-gap: 1vw;
        row-gap: 0.5vw;
    }

    main section div figure {
        width: 47.5%;
        margin: 0;
    }

    main section div figure figcaption {
        font-size: 0.75rem;
    }

}

/*1024px*/

@media (min-width: 1024px) {

    /*photo's section style @media*/
    
    .figureBox{
        flex-wrap: nowrap;
    }

    main section div figure {
        flex-grow: 1;
    }

    main section div figure figcaption {
        font-size: 0.6rem;
    }

    /*block section style @media*/

    .leftRightBox {
        flex-wrap: wrap;
    }

    .leftBoxRow {
        flex-flow: row;
        width: 100%;
    }

    .rightBoxRow {
        flex-flow: row;
        width: 100%;
    }

    .outerBox {
        height: 31.33vw; /*calc 33.33vw - (3vw body padding + 3vw main div gap) : 3*/
    }

}

/*1440*/

@media (min-width: 1440px) {

    /*general styles (body)*/

    body {
        padding: 1.5vw 15vw 0 15vw;
    }

    /*block section style @media*/

    .outerBox {
        height: 22.33vw; /*calc 33.33vw - (30vw body padding + 3vw main div gap) : 3 rows*/
    }

    .innerBox > div {
        font-size: 10vw;
    }

}